.onboarding {
  background-color: var(--Color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.onboarding__pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onboarding img:nth-of-type(1) {
  width: 100%;
  position: absolute;
  top: -40px;
  z-index: 1;
}
.onboarding img:nth-of-type(2) {
  width: 100%;
  position: relative;
  margin: 3rem;
  z-index: 2;
}
.onboarding img:nth-of-type(3) {
  width: 100%;
  position: absolute;
  top: 240px;
  z-index: 1;
}
.onboarding__allRecipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 25px 25px 0 0;
}

.onboarding__allRecipe h1 {
  color: var(--Color5);
  margin-top: 2.25rem;
  margin-bottom: 0.625rem;
  padding: 0 1rem;
}

.onboarding__allRecipe p {
  width: 30ch;
  line-height: 145%;
  font-weight: 200;
  margin-bottom: 1.5rem;
  padding-inline: 2rem;
}

.onboarding__allRecipe a {
  padding: 1.25rem 2rem;
  border-radius: 1.25rem;
  background-color: var(--Color5);
  text-decoration: none;
  color: var(--Color10);
  margin-bottom: 2rem;
  font-weight: bold;
  cursor: pointer;
}
